body{
    background-color: #e3e6e8;
    text-align: center;
}
#fullHeader {
    padding: 1px;
    background-color: maroon;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
#header {
    font-size: 40px;
}
#subHeader {
    font-size: 18px;
}
h1,h2,h3 {
    display: block;
    margin: -3px;
}
::placeholder, #Configs, #dadosPrincipais, #btnCalculo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: maroon;
}
#conteudo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#formulario {
    margin-right: 25px;
    height: 300px;
    width: 600px;
    border: 1px solid black;
    box-shadow: 0px 1px 4px black;
    background-color: white;
}
#Images {
    height: 300px;
    width: 600px;
    border: 1px solid black;
    box-shadow: 0px 1px 4px black;
}
#Grafic{
    display: inline-block;
    height: 320px;
    width: 1230px;
    border: 1px solid black;
    box-shadow: 0px 1px 4px black;
    margin-top: 10px;
}
#info{
    display: inline-block;
    margin-top: 90px;
    font-size: 15pt;
    background-color: maroon;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: 100%;
    width: 70%;
}
#RT {
    width: 116px;
}
#trafoSelect, select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:maroon;
}
#btn,#btnReset {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: maroon;
    color: white;
    width: 185px;
    margin-bottom: 10px;
    margin-left: 5%;
}
#result{
    display: grid;
    text-align: center;
    margin-top: 10px;
}
label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #e3e6e8;
    background-color: maroon;
    padding-left: 3px;
    padding-right: 3px;
}
#tensoes{
    color: maroon;
    background-color: white; 
    padding-left: 0px;
}
.tensoesDoTrafo,.tensoesDeEntrada{
    width: 129px;
    margin-top: 10px;
}
.tensoesDoTrafo{
    background-color: #e3e6e8;

}
.resultIndentify{
    font-weight: bold;
    font-size: 20px;
}